{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <card class="card bg-primary text-white my-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-sm-8">
                                <h4 class="card-title">
                                    {{ stats.users }} utilisateurs inscrits
                                </h4>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-dark my-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-hotel fa-3x"></i>
                            </div>
                            <div class="col-sm-8">
                                <h4 class="card-title">{{ stats.ads }} annonces postées</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-warning my-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-folder fa-3x"></i>
                            </div>
                            <div class="col-sm-8">
                                <h4 class="card-title">{{ stats.bookings }} réservations</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-success my-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-sm-8">
                                <h4 class="card-title">{{ stats.comments }} annonces postées</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-success">
                    <h2 class="alert-heading my-3">
                        <i class="fas fa-arrow-up">&nbsp;&nbsp;</i>
                        Les annonces populaires
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Annonce</th>
                                    <th>Propriétaire</th>
                                    <th>Moyenne</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ad in stats.bestads %}
                                <tr>
                                    <td class="h6">{{ad.title}}</td>
                                    <td class="h4">
                                        <img src="{{ad.picture}}" alt="avatar de {{ad.firstName}} {{ad.lastName}}" class="avatar avatar-mini">
                                        {{ad.firstName}} {{ad.lastName}}
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-dark">
                                            {{ad.note | number_format(1,',',' ')}}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alert alert-danger">
                    <h2 class="alert-heading my-3">
                        <i class="fas fa-arrow-down">&nbsp;&nbsp;</i>
                        Les pires annonces
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Annonce</th>
                                    <th>Propriétaire</th>
                                    <th>Moyenne</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ad in stats.worstads %}
                                <tr>
                                    <td class="h6">{{ad.title}}</td>
                                    <td class="h4">
                                        <img src="{{ad.picture}}" alt="avatar de {{ad.firstName}} {{ad.lastName}}" class="avatar avatar-mini">
                                        {{ad.firstName}} {{ad.lastName}}
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-dark">
                                            {{ad.note | number_format(1,',',' ')}}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </h2>
                </div>            </div>
        </div>
    </div>
{% endblock %}
